@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&family=Poppins&family=Spline+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  background: #47B5FF;
  place-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  background: #47B5FF;
  color: #06283D;
  border: none;
  border-radius: 30px;
  display: block;
  cursor: pointer;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  margin: auto;
}

button:hover {
  background: #06283D;
  color: #DFF6FF;
}

.quiz-container {
  height: auto;
  width: auto;
  border-radius: 20px;
  background: #DFF6FF;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  padding: 1rem;
}

.quiz-header {
  text-align: center;
}

.top {
  display: flex;
  border: none;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#question {
  font-size: 1.2rem;
  text-align: left;
  justify-content: left;
  align-items: left;
  color: #06283D;
  padding-bottom: 10px;
}

h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  padding-top: 10px;
  text-align: left;
  font-size: 1rem;
}

ul li label {
  cursor: pointer;
}

ul li:hover {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submitBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#submit {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  background: #47B5FF;
  color: #06283D;
  border: none;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 15px 20px;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#submit:hover {
  background: #06283D;
  color: #DFF6FF;
}

.start_btn {
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #1363DF;
  border-radius: 30px;
  border: none;
}

.start_btn button {
  padding: 15px 35px 15px 35px;
  background: #1363DF;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.start_btn button:hover {
  border: none;
  cursor: pointer;
  background: #DFF6FF;
  color: #06283D;
}

.dark-light {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dark-light button {
  border: none;
  background: transparent;
  border-radius: 50%;
}

.dark-light button img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
}

.dark-mode {
  background-color: #06283D ;
  color: #06283D;
}

#js_timer {
  display: grid;
  margin-top: 5rem;
  place-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#timer {
  font-size: 1.5rem;
  background: #DFF6FF;
  padding: 10px;
  width: 90px;
  border-radius: 30px;
  color: #06283D;
  border: none;
}
